<h1>Jars list</h1>
<% if @jars.length > 0 %>
<table>
	<thead>
		<th>Jar name</th>
		<th>Created at</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</thead>
	<tbody>
	<% @jars.each do |jar| %>
	<tr>
		<td><%= jar.text %></td>
		<td><%= jar.created_at %></td>
		<td><%= link_to 'Show', jar, class: "show" %></td>
		<td><%= link_to 'Edit', edit_jar_path(jar), class: "edit" %></td>
		<td><%= link_to 'Delete', jar_url(:id => jar.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<p>No jars found</p>
<% end %>

<%= link_to "New jar", new_jar_url(), class: "btn" %>