<h1>Jars list</h1>
<ul>
	<% @jars.each do |jar| %>
	<li>
		<p><strong><%= jar.text %></strong> - <%= jar.created_at %> | <%= link_to 'Show', jar %> | <%= link_to 'Edit', edit_jar_path(jar) %> | <%= link_to 'Delete', jar_url(:id => jar.id), method: :delete, data: { confirm: 'Are you sure?' } %>
		</p> 
	</li>
	<% end %>
</ul>

<%= link_to "New", new_jar_url() %>