<h1>Jar details</h1><hr/>
<h3>Description : <strong><%= @jar.text %></strong></h3>
<h4>Price : <strong><%= @jar.price %> €</strong></h4>

  

  <hr/>

<%= link_to "Back to jars list", {controller: "jars"}, class: "btn" %>
<%= link_to "New jar", new_jar_url(), class: "btn" %> 
<%= link_to 'Delete this jar', jar_url(:id => @jar.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>



