<%# Gestion des erreurs %>

<% if @ingredient.errors.any? %>
<h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @ingredient.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @ingredient.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@ingredient) do |ingredient_form| %>
<p>
	<%= label_tag(:name, "Name:") %>
	<%= ingredient_form.text_field :name %>
</p>
<p>
	<%= label_tag(:u_price, "Unit price:") %>
	<%= ingredient_form.text_field :u_price %>
<p>
	<%= ingredient_form.submit %>
</p>
<% end %>
<% if @ingredient.persisted? %>
	<%= link_to 'Back to the ingredient page', ingredient_url(:id => @ingredient.id), class: "btn" %>
	<% end %>
<%= link_to 'Back to ingredients list', ingredients_path, class: "btn" %>