<h1>Ingredients list</h1>
<% if @ingredients.length > 0 %>
<table>
	<thead>
		<th>Ingredient name</th>
		<th>Created at</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</thead>
	<tbody>
	<% @ingredients.each do |ingredient| %>
	<tr>
		<td><%= ingredient.name %></td>
		<td><%= ingredient.created_at %></td>
		<td><%= link_to 'Show', ingredient, class: "show" %></td>
		<td><%= link_to 'Edit', edit_ingredient_path(ingredient), class: "edit" %></td>
		<td><%= link_to 'Delete', ingredient_url(:id => ingredient.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<p>No ingredients found</p>
<% end %>

<%= link_to "New ingredient", new_ingredient_url(), class: "btn" %>