<h1>Customer details</h1><hr/>

<h3>Name : <strong><%= @customer.name %></strong></h3>

  <h4>Email adress : <strong><%= @customer.email %></strong></h4>

  <h4>Phone number : <strong><%= @customer.phone %></strong></h4>

  <hr/>

<%= link_to "Back to customers list", {controller: "customers"}, class: "btn" %> 
<%= link_to "Edit this customer", edit_customer_url(), class: "btn" %> 
<%= link_to "New customer", new_customer_url(), class: "btn" %> 
<%= link_to 'Delete this customer', customer_url(:id => @customer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>



