<%# Gestion des erreurs %>

<% if @order.errors.any? %>
<h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @order.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @order.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@order) do |order_form| %>
<p>
	<%= label_tag(:customer_id, "Customer: ") %>
	<%= select_tag("order[customer_id]", options_from_collection_for_select(Customer.all, :id, :name)) %>
</p>
	<% if @products %>
	<table>
		<tr>
			<th>Product</th>
			<th>Amount</th>
		</tr>
	<% @products.each do |product| %>
	<tr>
        <td><label for=<%= product.id %>><%= product.name %></label></td>
        <td><input type="number" name=<%= "product[" + product.id.to_s + "]" %> min="0" id=<%= product.id %>></td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>
	<%= order_form.submit %>
</p>
<% end %>
<%= link_to 'Back to orders list', orders_path, class: "btn" %>