<%# Gestion des erreurs %>

<% if @order.errors.any? %>
<h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @order.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @order.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@order) do |order_form| %>
	<%= label_tag(:customer_id, "Customer: ") %>
	<%= collection_select(:customer, :id, Customer.all, :id, :name) %>

<%= label_tag(:products_id, "Select products: ") %></p>
<select multiple>
	<% @products.each do |product| %>
	<option value=<%= product.id %>><%= product.name %></option>
<% end %>
</select>


	<%= order_form.submit %>

<% end %>

<%= link_to 'Back', orders_path %>