<%# Gestion des erreurs %>

<% if @order.errors.any? %>
<h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @order.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @order.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@order) do |order_form| %>
<p>
	<%= label_tag(:global_price, "Global price:") %>
	<%= order_form.text_field :global_price %>
</p>
<p>
	<%= label_tag(:customer_id, "Customer") %>
	<%= collection_select(:customer, :id, Customer.all, :id, :name) %>
<p>
	<%= order_form.submit %>
</p>
<% end %>
<%= link_to 'Back', orders_path %>