<%# Gestion des erreurs %>

<% if @order.errors.any? %>
<h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @order.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @order.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@order) do |order_form| %>
<p>
	<%= label_tag(:customer_id, "Customer: ") %>
	<%= select_tag("order[customer_id]", options_from_collection_for_select(Customer.all, :id, :name)) %>
</p>
	<% if @products %>
	<% @products.each do |product| %>
	<div>
        <label for=<%= product.name %>><%= product.name %></label>
        <input type="number" name="howmuch" min="0" id=<%= product.id %>>
    </div>

  <% end %>
<% end %>

<p>
	<%= order_form.submit %>
</p>
<% end %>

<%= link_to 'Back', orders_path %>