<h1>Orders list</h1>
<% if @orders %>
	<table>
		<thead>
			<th>Order N°</th>
			<th>Customer</th>
			<th>Global price</th>
			<th>Date</th>
			<th>Show</th>
			<th>Delete</th>
		</thead>
		<tbody>
		<% @orders.each do  |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.customer.name %></td>
			<td><%= order.global_price %> €</td>
			<td><%= order.created_at %></td>
			<td><%= link_to 'Show', order %></td>
			<td><%= link_to 'Delete', order_url(:id => order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
	<p>No order</p>
<% end %>

<%= link_to "New order", new_order_url(), class: "btn" %>