<h1>Orders list</h1>
<ul>
	<% @orders.each do |order| %>
	<li>
		<p><strong><%= order.text %></strong> - <%= order.created_at %> | <%= link_to 'Show', order %> | <%= link_to 'Edit', edit_order_path(order) %> | <%= link_to 'Delete', order_url(:id => order.id), method: :delete, data: { confirm: 'Are you sure?' } %>
		</p> 
	</li>
	<% end %>
</ul>

<%= link_to "New", new_order_url() %>