<%# Gestion des erreurs %>

<% if @product.errors.any? %>
<h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>
<ul>
	<% @product.errors.each do |attr, msg| %>
		<li><%= "#{attr} #{msg}\n"  if @product.errors[attr].first == msg %></li>
	<% end %>
</ul>
<% end %>


<%# Affichage du formulaire %>

<%= form_for(@product, html: {multipart: true}) do |product_form| %>
<div class="pull-left" style="margin-right:50px;">
<p>
	<%= label_tag(:name, "Name:") %>
	<%= product_form.text_field :name %>
</p>
<p>
	<%= label_tag(:profit, "Profit:") %>
	<%= product_form.text_field :profit %>
</p>
<p>
	<%= label_tag(:jar_id, "Select a jar:") %>
	<%= collection_select(:jar_id, :id, Jar.all, :id, :text) %>
</p>
<p>
	<%= label_tag(:photo, "Select a photo:") %>
	<%= file_field_tag :photo %>
</p>
</div>
<div class="pull-left">
<p>
	<strong>Select ingredients : </strong>
	<% a = 0 %>
	<% @ingredients.each do |i| %>
	<p><label for=<%= "ingredient_ids["+a.to_s+"]" %> style="min-width:100px;"><%= i.name %></label>  <input type="number" name=<%= "ingredient_ids["+i.id.to_s+"]" %> id=<%= "ingredient_ids["+a.to_s+"]" %> min="0" /> </p>
	<% a = a+1 %>
	<% end %>
</p>
</div>
<div class="clr"></div>
<div class="pull-left">
	<p>
		<%= product_form.submit %>
	</p>
	<% end %>
	<%= link_to 'Back', products_path %>
</div>