<h1>Products list</h1>
<% if @products.length > 0 %>
<table>
	<thead>
		<th>Product name</th>
		<th>Created at</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</thead>
	<tbody>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.created_at %></td>
		<td><%= link_to 'Show', product, class: "show" %></td>
		<td><%= link_to 'Edit', edit_product_path(product), class: "edit" %></td>
		<td><%= link_to 'Delete', product_url(:id => product.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<% else %>

<p>No products found</p>

<% end %>

<%= link_to "New product", new_product_url(), class: "btn" %>