<%# add navigation links to this file %>
    <% if user_signed_in? %>
      <li><a>Logged as <%= current_user.email %></a></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      <li><%= link_to "Customers",    customers_path %></li>
        <li><%= link_to "Ingredients", ingredients_path %></li>
        <li><%= link_to "Jars",    jars_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <li><%= link_to "Historics", historics_path %></li>
        <li><%= link_to "Mailer", "mail" %></li>
    <% else %>
      <li><%= link_to "Sign in", user_session_path %></li>
    <% end %>
    <li><%= link_to "Products",    products_path %></li>